*{
    box-sizing:border-box;
  }
  body{
    padding-right:30px;
    padding-left:25px;
    padding-top:30px;
    padding-bottom:40px;
  }
  .container{
     width:100%;
    background-color:rgb(238,238,238);
    padding-top:40px;
    padding-left:10px;
    padding-right:40px;
    padding-bottom:30px;
    border-radius:10px;
    margin-bottom:50px;
 
  }
  .container__heading{
    text-align:center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight:500;
    font-size:2em;
    margin:0;
  }
  .container__description{
      text-align:center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight:450;
    font-size:1.5em;
  }
  .hero{
    margin-left:15px;
    border:1px solid rgb(221,221,221);
    padding:5px;
    margin-bottom:20px;
  }
  .hero__description{
    width:100%;
    letter-spacing:1px;
  }
  .hero__image{
    border:1px solid rgb(221,221,221);
     margin-left:15px;
     padding-top:5px;
    margin-bottom:40px;
    width:100%;
  }
  .hero__image__image{
   border-radius:50%;
    width:100%;
  }
  .hero__image__caption{
    background-color:rgb(221,221,221);
    padding:8px;
  }
  .about{
     margin-left:15px;
    margin-right:10px;
  }
  .about__description{
    font-family: 'Libre Franklin', sans-serif;
    font-weight:450;
    font-size:1.5em;
    margin:0;
  }
  .end{
    text-align:center;
  }
  a{
    text-decoration:none;
  }
 @media (min-width:760px)
 {
  .hero__image{
    border:1px solid rgb(221,221,221);
     margin-left:15px;
     padding-top:5px;
    margin-bottom:40px;
    width:100%;
  }
  .hero__image__image{
   border-radius:50%;
    width:500px;
  }
  .hero__image__caption{
    background-color:rgb(221,221,221);
    padding:8px;
    width:100%;
  }
 }
